body {
    background-color: #f4f4f4;

} 




.caixa-noticia {
    border: solid 1px black;

    margin: 2%;
    border-radius: 20px; 
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    /* " !important " dá prioridade para a config*/  
    display: flex;
    flex-direction: column; 
    &:hover{
        transform: scale(1.1);
        transition: all 0.5s;
    }
}  

.carousel-inner .carousel-item  img {
    width: 700px;
    height: 800px; 
    
  }

.carousel-inner {
    transition: transform .5s ease, opacity .5s ease-out;
    
}


